<!DOCTYPE html>
<html lang="kn">
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <style>
            @import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);
            body { font-family: "Noto Sans Kannada", sans-serif;}
            </style>
    </head>
    <body>
        <form action="/demo" method="post">
            
            <input lang="kn" type="search" name="ip" placeholder="ಹುಡುಕಿ" title="ಹುಡುಕಿ [f]" accesskey="f" id="searchInput"/>
            <input type="submit" name="go" value="ಹುಡುಕಿ" title="ಇದೇ ಹೆಸರಿನ ಪುಟವಿದ್ದಲ್ಲಿ ಅಲ್ಲಿಗೆ ಹೋಗು" id="searchButton" class="searchButton"/>							
       
        </form>
    </body>
</html>

